---
{{- if eq .chezmoi.os "darwin" }}
doing_file: "/Volumes/documents/Personal Notes/doing/index.md"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
doing_file: "/mnt/truenas/documents/Personal Notes/doing/index.md"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
backup_dir: "/Volumes/documents/Personal Notes/doing/backup"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
backup_dir: "/mnt/truenas/documents/Personal Notes/doing/backup"
{{- end }}
