brew "ack"
brew "codesnap"
brew "curl" # needed for postgres
brew "docker"
brew "docker-completion"
brew "docker-compose"
brew "entr" # needed for bat-extras
brew "gcc" # needed for postgres
brew "gh"
brew "git"
brew "git-lfs"
brew "gpg"
brew "gnupg" # needed for GPG and pinentry
brew "icu4c" # needed for postgres
brew "imagemagick"
brew "kubernetes-cli"
brew "libpq"
brew "libsass"
brew "libtool"
brew "libyaml"
brew "mas"
brew "mingw-w64" # use for rust binary compilations
brew "nvim"
brew "opencode"
brew "openssl"
brew "ossp-uuid" # needed for postgres
brew "pinentry-mac"
brew "pkg-config" # needed for postgres
brew "pygments"
brew "readline" # needed for postgres# used by mise
brew "starship"
brew "syncthing"
brew "xdg-ninja"
brew "zlib" # needed for postgres

cask "1password"
cask "1password-cli"
cask "appcleaner"
{{- if eq .profile "personal" }}
cask "balenaetcher"
{{ end -}}
cask "bruno"
cask "chatgpt"
cask "claude"
cask "claude-code"
{{- if eq .profile "personal" }}
cask "discord"
{{ end -}}
cask "figma"
cask "github"
cask "google-chrome"
cask "google-drive"
cask "jetbrains-toolbox"
{{- if eq .profile "personal" }}
cask "linear-linear"
{{ end -}}
cask "logitech-g-hub"
cask "meld"
cask "obsidian"
cask "orbstack"
cask "raycast"
{{- if eq .profile "work" }}
cask "slack"
{{ end -}}
{{- if eq .profile "personal" }}
cask "steam"
{{ end -}}
{{- if eq .profile "personal" }}
cask "syncthing-app"
{{ end -}}
{{- if eq .profile "personal" }}
cask "tailscale-app"
{{ end -}}
{{- if eq .profile "personal" }}
cask "telegram"
{{ end -}}
cask "warp"
cask "zed"
cask "zoom"

mas "ColorSlurp", id: 1287239339
mas "Sequence Diagram for Mac", id: 1195426709
mas "Xcode", id: 497799835
