[".local/share/zsh-autosuggestions"]
private = true
refreshPeriod = "168h"
type = "git-repo"
url = "https://github.com/zsh-users/zsh-autosuggestions"

[".local/share/zsh-completions"]
private = true
refreshPeriod = "168h"
type = "git-repo"
url = "https://github.com/zsh-users/zsh-completions.git"

[".local/share/zsh-syntax-highlighting"]
private = true
refreshPeriod = "168h"
type = "git-repo"
url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"

{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- end }}
{{- range .fonts.nerd_fonts }}

["{{ $fontDir }}/{{ .name }}"]
extract = true
refreshPeriod = "168h"
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" .file | quote }}
{{- end }}
