1password
1password-cli
bruno
curl
{{- if eq .profile "personal" }}
discord
{{- end }}
docker.io
gcc
git
git-lfs
gh
gnupg
google-chrome-stable
icu-devtools
imagemagick
kubectl
libsass-dev
libtool
libyaml-dev
meld
neovim
{{- if eq .profile "personal" }}
obsidian
{{- end }}
pkg-config
python3-pygments
libreadline-dev
{{- if eq .profile "personal" }}
syncthing
tailscale
telegram-desktop
{{- end }}
xdg-ninja
zed
