#!/usr/bin/env sh

{{- range (glob (joinPath .chezmoi.sourceDir "private_dot_config/private_agents/**/*")) }}
{{-   if not (index (stat .) "isDir") }}
# {{ include . | sha256sum }}
{{-   end }}
{{- end }}

set -e

rm -rf ~/.config/claude/agents ~/.config/claude/skills
ln -s ~/.config/agents/agents ~/.config/claude/agents
ln -s ~/.config/agents/skills ~/.config/claude/skills
