{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh

{{- range (glob (joinPath .chezmoi.sourceDir "private_dot_config/private_warp-terminal/**/*")) }}
{{-   if not (index (stat .) "isDir") }}
# {{ include . | sha256sum }}
{{-   end }}
{{- end }}

set -e

rm -rf ~/.warp
ln -s ~/.config/warp-terminal ~/.warp
{{ end -}}
