#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[aliases]
ll = ["log", "--template", "builtin_log_detailed"]
pull = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
closest="$(jj log -r 'closest_bookmark(@)' -n 1 -T 'bookmarks' --no-graph | cut -d ' ' -f 1)"
closest="${closest%\\*}"
jj git fetch
jj log -n 1 -r "${closest}" 2>&1 > /dev/null && jj rebase -d "${closest}" || jj rebase -d 'trunk()'
jj log -r 'stack()'
"""
]
push = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  """
tuggable="$(jj log -r 'closest_bookmark(@)..closest_pushable(@)' -T '"n"' --no-graph)"
[[ -n "$tuggable" ]] && jj tug
pushable="$(jj log -r 'remote_bookmarks(remote=origin)..@' -T 'bookmarks' --no-graph)"
[[ -n "$pushable" ]] && jj git push || echo "Nothing to push."
closest="$(jj log -r 'closest_bookmark(@)' -n 1 -T 'bookmarks' --no-graph | cut -d ' ' -f 1)"
closest="${closest%\\*}"
tracked="$(jj bookmark list -r ${closest} -t -T 'if(remote == "origin", name)')"
[[ "$tracked" == "$closest" ]] || jj bookmark track "${closest}@origin"
"""
]

[git]
private-commits = "private() | wip()"
push-new-bookmarks = true

{{- if eq .email "hello@aaronmallen.me" }}

[signing]
behavior = "own"
backend = "gpg"
key = "87133702D8F60DD8"
{{- end }}

[ui]
default-command = "log"
diff-editor = "meld"
diff-formatter = ":git"
editor = "nvim"
merge-editor = "meld"
pager = "delta"
paginate = "auto"
show-cryptographic-signatures = true

[revset-aliases]
"closest_bookmark(to)" = "heads(::to & bookmarks())"
"closest_pushable(to)" = "heads(::to & mutable() & ~description(exact:'') & (~empty() | merges()))"
"mine()" = "author(exact:'{{- .fullName }}') | author(exact:'{{- .email }}')"
"private()" = "description(glob:'private:*')"
"stack()" = "stack(@, 2)"
"stack(x)" = "stack(x, 2)"
"stack(x, n)" = "ancestors(reachable(x, mutable()), n)"
"wip()" = "description(glob:'wip:*')"

[templates]
log_node = """
label("node", coalesce(
  if(!self, label("elided", "~")),
  label(
    separate(" ",
      if(current_working_copy, "working_copy"),
      if(conflict, "conflict"),
      if(immutable, "immutable"),
      if(description.starts_with("[WIP]"), "wip"),
      if(description.starts_with("wip:"), "wip"),
      if(description.starts_with("[PRIVATE]"), "private"),
      if(description.starts_with("private:"), "private"),
    ),
    coalesce(
      if(current_working_copy, "@"),
      if(conflict, "x"),
      if(immutable, "◆"),
      if(description.starts_with("[WIP]"), "⚙"),
      if(description.starts_with("wip:"), "⚙"),
      if(description.starts_with("[PRIVATE]"), "◇"),
      if(description.starts_with("private:"), "◇"),
      "○",
    )
  )
))
"""

[user]
name = {{- .fullName | quote }}
email = {{- .email | quote }}
