{{- $fontDir := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $fontDir = "Library/Fonts" }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $fontDir = ".local/share/fonts" }}
{{- end }}
{{- range .fonts.nerd_fonts }}

["{{ $fontDir }}/{{ .name }}"]
extract = true
refreshPeriod = "168h"
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" .file | quote }}
{{- end }}
