[alias]
fucked = !git reset && git checkout . && git clean -df

[commit]
gpgsign = true
template = {{- env "XDG_CONFIG_HOME" }}/git/commit_template

[core]
editor = nvim
excludesfile = {{- env "XDG_CONFIG_HOME" }}/git/ignore
pager = delta

[delta]
dark = true
line-numbers = true
navigate = true
syntax-theme = "Monokai Extended"

[github]
user = aaronmallen

[gpg]
program = gpg

[init]
defaultBranch = main

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = zdiff3

[pager]
branch = false
tag = false

[user]
name = {{- .fullName }}
email = {{- .email }}
{{- if eq .email "hello@aaronmallen.me" }}
signingKey = 87133702D8F60DD8
{{- end }}
