{{- if or (eq .packageManager "paru") (eq .packageManager "yay") }}
#!/usr/bin/env sh

AURFILE="${HOME}/.config/aur/aurfile"
command -v {{ .packageManager }} > /dev/null \
  && {{ .packageManager }} -S --needed --noconfirm - < "${AURFILE}" \
  && comm -23 <({{ .packageManager }} -Qeq | sort) <(sort "${AURFILE}") | xargs -r {{ .packageManager }} -Rns --noconfirm \
  && {{ .packageManager }} -Syu --noconfirm \
  && {{ .packageManager }} -Sc --noconfirm
{{- end }}
