1password
1password-cli
bruno-bin
chatgpt-desktop-bin
claude-code
claude-desktop-bin
curl
{{- if eq .profile "personal" }}
discord
{{- end }}
docker
extra/syncthing
gcc
git
git-lfs
github-cli
github-desktop-bin
gnupg
google-chrome
icu
imagemagick
jetbrains-toolbox
kubectl
libsass
libtool
libyaml
meld
mingw-w64-gcc
neovim
obsidian
opencode
pkgconf
python-pygments
readline
{{- if eq .profile "personal" }}
steam
syncthingtray-qt6
tailscale
telegram-desktop
{{- end }}
vicinae
warp-terminal
xdg-ninja
zed
zoom
